.sample {
	position: relative;
	overflow:hidden;
	box-shadow:0 4px 20px rgba(0, 0, 0, 0.2);
	margin:0 auto;
	width:100%;
	background-color:#fff;
	display: flex;
}

.imglayer1{
	width: 100%;
	height: 50%;
	position: absolute;
	top: 0;
	left: 0;
	background-repeat: repeat-x;
	background-image: url(../image/image4.png);
	animation: img-slider 13s linear infinite;
}
@keyframes img-slider {
	0% {
		background-position: -1898px 0;
	}
	100% {
		background-position: 0 0;
	}
}


.layer1{
	overflow:hidden;
    width: 100%;
	height: 500px;
    position: absolute;
    left: 0;
    top: 10%;
}

.layer1 svg{
	position: absolute;
	bottom: 0;
}

	.layer1 svg use {
		fill:#009E8A;
        will-change: animation;
		animation:wave linear 7s infinite;
		position: absolute;
		bottom: 0;
	}

.content{
	position:absolute;
	top: 35%;
	left: 10%;
	width: 100px;
	height: 80px;
	text-align: center;
	border-radius: 10%;
	background-color: #fff;
}

/* waveという名前のアニメーションを定義 */
@keyframes wave {
	from {
		transform:translate(-40%);
	}
	to {
		transform:translate(-10%);
	}
}


.imglayer2{
	width: 100%;
    height: 50%;
    background-image: url(../image/image4.png);
    background-repeat: repeat-x;
    background-position: left bottom;
    will-change: animation;
    animation: img-slider 13s linear infinite reverse;
    position: absolute;
    left: 0;
    bottom: 0;
    clip-path: url(#midWave);
    overflow: hidden;
}

#midWave {
    will-change: animation;
    animation:midWave 5s linear infinite;
}
@keyframes midWave {
    from {
        transform:translate(-10%);
    }
    to {
        transform:translate(-40%);
    }
}

.layer2{
	overflow: hidden;
	width: 100%;
	height: 9vw;
	position: absolute;
	left: 0;
	bottom: 0;
}

.layer2 svg use {
	fill:#fff;
	will-change: animation;
	animation:wave2 linear 5s infinite;
}
	@keyframes wave2 {
	from {
		transform:translate(-20%);
	}
	to {
		transform:translate(-50%);
	}
}

/* デスクトップ用のスタイル */
@media screen and (min-width: 1024px) {
	.sample {
		height: 800px;
	}
	.layer1 {
		top: 3%;
	}
	.layer2 {
		height: 100px; /* デスクトップ用の固定高さ */
	}
}

/* タブレット用のスタイル */
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.sample {
		height: 600px;
	}
	.layer1 {
		top: 2%;
	}
	.layer2 {
		height: 80px; /* タブレット用の固定高さ */
	}
}

/* スマホ用のスタイル */
@media screen and (max-width: 767px) {
	.sample {
		height: 500px;
	}
	.layer1 {
		top: 0%;
	}
	.layer2 {
		height: 60px; /* スマホ用の固定高さ */
	}
}